<header></header>
<section>
	<article>
		<figure>
			<img>
			<figcaption></figcaption>
		</figure>
	</article>
</section>
<footer></footer>

<div id="header" style="background-color:cadetblue;"</div>
<div class="section">
	<div class="article">
		<div class="figure">
			<img>
			<div class="figcaption"></div>
		</div>
	</div>
</div>
<div id="footer"></div>

<!--  -->
<section>
    <p>Top Stories</p>
    <section>
      <p>News</p>
      <article>Story 1</article>
      <article>Story 2</article>
      <article>Story 3</article>
    </section>
    <section>
      <p>Sport</p>
      <article>Story 1</article>
      <article>Story 2</article>
      <article>Story 3</article>
    </section>
  </section>

  <header>
    <h1>Company A</h1>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact us</a></li>
    </ul>
    <form target="/search">
      <input name="q" type="search" />
      <input type="submit" />
    </form>
  </header>