
body {
        background-color: cornsilk;
}

#headerH2{
    font-size: 2em;
    font-weight: bolder;                
}

.h2{
    color: crimson;
}

.nestab tr th{
    color: brown;
}

.nestab tr td{
    color:magenta;
}