div {
    color:white;
    font-size:larger;
    border:2px solid black;
}

.whiteFont {
   color:white;
   font-size:large;
}
#Hex {
    width:200px;
    height:200px;
    background-color:#5cccba;
}

#dynamicColor {
    width: 200px;
    height: 200px;
}

header {
    background-color: rgb(0, 0, 0); /* black */
}

footer {
    background-color: rgba(44, 108, 105, 1); /* black with 50% opacity */
}

li a {
    background-color: hsl(120, 100%, 100%); /* green */
}

#p1 {
    background-color: hsla(120, 100%, 50%, .3); /* green with 30% opacity */
}

.linear-gradient {
    background: linear-gradient(to left, red, blue); /* you can also use 270deg */
}

.diagonal-linear-gradient {
    background: linear-gradient(to left top, red, yellow 10%);
}


.linear-gradient-rainbow {
    background: linear-gradient(to left, red, orange, yellow, green, blue, indigo, violet)
}