.img {
    float: left;
    width: 100px;
    margin: 0 10px;
}

.div1 {
    background: #f1f1f1;
    /* does not create block formatting context */
}

.div2 {
    background: #f1f1f1;
    overflow: hidden;
    /* creates block formatting context */
}
